.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.form-control[readonly] {
    background-color: #fff;
}
main {
    padding-top: 70px;
}

fieldset {
    border: 1px solid #ddd;
    margin: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    background-color: #fffffe;
    padding-left: 10px;
}

legend {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    min-width: 35%;
    overflow-x: hidden;
    max-width: 100%;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #fffffd;
}
textarea {
    resize: vertical;
}

